@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --color-blue: #001f3f;
  --color-orange: #fbb03b;
  --color-lightblue: #6adce2;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
.section-width {
  max-width: 1366px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 5vw;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.icon-sgv {
  fill: white;
  transition: fill 0.3s; /* para efeito suave */
}

.icon-sgv:hover {
  fill: #6adce2; /* cor quando o mouse passa */
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
